.product-miniature .svg-favorite {
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
}

.product-information .svg-favorite {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
}
